{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 col-12">
    {% if posts %}
            <div class = "row">
                {% for post in posts %}
                <div class="col-lg-4 my-2">
                    <div class="card">
{#                      <img src={{ post.picture }} class="card-img-top" alt="...">#}
                      <div class="card-body">
                          <h5 class="card-title">{{post.message}}</h5>
                          <p class="card-text">{{ post.created_time }}</p>
                          <a href="#" class="btn btn-warning">Show details</a>
                      </div>
                    </div>
                </div>
            {% endfor %}
            </div>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>

{#{% if posts %}#}
{#    <ul>#}
{#    {% for post in posts %}#}
{#        <li>{{ post.message }}</li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#{% else %}#}
{#    <p>No polls are available.</p>#}
{#{% endif %}#}
{% endblock %}
