{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/home/index.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5 col-12">
    {% if posts %}
    <div class="row">
        <div class="col-lg-8 col-offset-lg-2 text-center mx-auto my-5">
            <h1 style="text-shadow: 3px 3px 3px rgba(0,0,0,0.5)">Your posts</h1>
        </div>

        <div class="col-lg-8 col-offset-lg-8 text-center mx-auto">
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark" name="like_all_comments"
                        style="background-color: rgb(40,40,40)">Like comments in every post
                </button>
            </form>
        </div>
        <div class="col-lg-8 col-offset-lg-2 text-center mx-auto mt-2">
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark" name="delete_all_comments"
                        style="background-color: rgb(40,40,40)">Delete comments with banned words in every post
                </button>
            </form>
        </div>
        <div class="col-lg-8 col-offset-lg-2 text-center mx-auto mt-2">
            <a class="btn btn-dark" style="background-color: rgb(40,40,40)"
               href="{% url 'management' page_number=page_number %}">Management</a>
        </div>

        {% for post in posts %}
        <div class="col-lg-8 offset-lg-2 my-4">

            <div class="card" style="box-shadow: 10px 6px 18px -4px rgba(0,0,0,0.8)">
                <div class="row  my-3 card-body">
                    {% if image_url %}
                    <div class="col-md-2">
                        <img src={{ image_url }} class="rounded-circle" alt="...">

                    </div>
                    {% endif %}
                    <div class="col-md-5">
                        <p class="lead">{{name}}
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text">{{ post.created_time }}</p>
                    <br>
                    <hr class="line mb-5">
                    <h4 class="card-title">{{post.message}}</h4>
                </div>

                {% if post.url %}
                <div class="container col-lg-12 text-center mx-auto">
                    <img src={{ post.url }} class="card-img-top" alt="...">
                </div>

                {% endif %}

                <div class="card-body">
                    <br>
                    <hr class="line">
                </div>

                <div class="col-12 text-center my-3">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="comments_to_like" value="{{ post.comments }}">
                            <button type="submit" id="checkButton" class="btn btn-dark mr-lg-5"
                                    style="background-color: dodgerblue" name="like_comments">Like all comments
                            </button>
                        </form>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="comments_to_delete" value="{{ post.comments }}">
                            <button type="submit" id="checkButton" class="btn btn-dark mx-lg-3"
                                    style="background-color: darkgoldenrod" name="delete_comments">Delete danger words
                            </button>
                        </form>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="post_to_delete" value="{{ post.id }}">
                            <button type="submit" id="checkButton" class="btn btn-dark ml-lg-5"
                                    style="background-color: darkred" name="delete_post">Delete post
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-2 offset-5 text-center mx-auto">
            <div class="pagination text-center mx-auto">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if posts.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" aria-label="Previous"
                               style="background-color: black; color: white">
                                <span aria-hidden="true ">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" style="background-color: black; color: white"
                               href="?page={{ posts.previous_page_number }}">{{ posts.previous_page_number }}
                            </a>
                        </li>
                        {% endif %}
                        {% for num in posts.paginator.page_range %}
                        {% if posts.number == num %}
                        <li class="page-item"><a class="page-link" style="background-color: black; color: white"
                                                 href="?page={{ num }}">{{num}} <span
                                class="sr-only">(current)</span></a></li>
                        {% endif %}
                        {% endfor %}
                        {% if posts.has_next %}
                        <li class="page-item">
                            <a class="page-link" style="background-color: black; color: white"
                               href="?page={{ posts.next_page_number }}">{{ posts.next_page_number }}
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" style="background-color: black; color: white"
                               href="?page={{ posts.paginator.num_pages }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    {% else %}
    <p style="color: white">There isn't any post on your site</p>
    {% endif %}
</div>
{% endblock %}
