{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/home/pages.css' %}">
{% endblock %}

{% block title %}Pages{% endblock %}

{% block content %}
<div class="container mt-5 col-12">
    <div class="row justify-content-center">
        {% if pages %}
        <div class="col-lg-8 col-offset-lg-2 mb-5 text-center">
            <h1>Choose your fanpage</h1>
        </div>
        {% for page in pages %}
        <div class="col-lg-6 py-5">
            <div class="card border-dark mb-3" style="border-radius: 10px">

                <div class="row card-body">
                    <div class="col-2 my-3 pl-4">
                        <img src={{page.photo}} class="rounded-circle" alt="..." style="box-shadow: 10px 6px 18px -4px rgba(0,0,0,0.8)">
                    </div>
                    <div class="col-8 my-4 text-center">
                        <h5>{{page.name}}</h5>
                    </div>
                </div>

                <div class="card-footer text-muted text-center">
                    <a class="btn btn-primary" href="{% url 'index' page_number=forloop.counter0 %}" style="box-shadow: 10px 6px 18px -4px rgba(0,0,0,0.5)">
                        <i class="icon-check">  </i>Choose</a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% if not pages %}
        <div class="col-lg-8 col-offset-lg-2 mb-5 text-center">
            <a class="btn btn-primary" href="{% url 'add_page' %}">Add page</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}