{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/home/statistics.css' %}">
{% endblock %}


{% block title %}Statistics{% endblock %}

{% block content %}
<div class="container mt-5 col-12">
    <div class="row justify-content-center">
        <div class="col-lg-8 offset-lg-2 my-4 text-center mx-auto">

            <div class="card" style="box-shadow: 10px 6px 18px -4px rgba(0,0,0,0.8)">
                <div class="card-body">
                    <h3 class="card-title text-center mb-2" style="color: black"><i class="icon-trophy"> </i>Top 5
                        commenters</h3>
                    <h5 class="card-title text-center mb-2">Last refreshed: {{commenters_last_refresh}}</h5>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">
                                <i class="icon-sort-by-order"></i>
                            </th>
                            <th scope="col"></th>
                            <th scope="col">
                                <i class="icon-user"></i>
                                Name
                            </th>
                            <th scope="col">
                                <i class="icon-comments"></i>
                                Comments nr
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in top_5_commenters %}
                        <tr>
                            <th scope="row">{{ user.position }}</th>
                            <td><img src={{ user.photo_url }} class="rounded-circle" alt="..."></td>

                            <td>{{user.name}}</td>

                            <td>{{user.comments_nr}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-offset-lg-8 text-center mx-auto">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark" name="refresh_data"
                    style="background-color: rgb(40,40,40)"><i class="icon-refresh"> </i>Refresh data
            </button>
        </form>
    </div>
</div>

{% endblock %}